{% extends 'VectorfaceBacklogBundle:Default:layout.html.twig' %}

{% block content%}

<div class="row">
    <div class="span12">
        <table class="table-tickets table table-striped table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Milestone</th>
                    <th>Assigned To</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>index</td>
                    <td><a href="#">Generate automatic CSV files for BestPay</a></td>
                    <td>Sprint 5</td>
                    <td>Bill MacSween</td>
                    <td>
                      <div class="btn-group pull-right">
                        <a class="btn arrow-up" href="#"><i class="icon-arrow-up"></i></a>
                        <a class="btn arrow-down" href="#"><i class="icon-arrow-down"></i></a>
                        <a class="btn btn-warning" href="#"><i class="icon-trash"></i></a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>

{% endblock %}