{% extends 'VectorfaceBacklogBundle::base.html.twig' %}

{% block content%}

<div class="row">
    <div class="span12">
        <div class="clearfix">
            <h3 style="display:inline;">Sprints</span></h3>
            <div class="btn-toolbar pull-right" style="margin-top:0px">
                <div class="btn-group">
                    <a class="btn btn-success" href="#"><i class="icon-plus"></i></a>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>

<div class="row">
    <div class="span12">
        <table class="table-tickets table table-condensed table-striped" id="sortable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Total Tickets</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for backlog in backlogs %}
                <tr data-ixBug="{{ backlog.ixBug }}" class="draggable">
                    <td><a href="{{ path('vectorface_backlog_sprint_view', {'id': 1}) }}">Sprint #8</a></td>
                    <td><span class="badge badge-info">{{ loop.index }}</span></td>
                    <td>
                        <div class="btn-group pull-right">
                            <button class="btn trigger-modal-edit"><i class="icon-pencil"></i></button>
                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#" class="trigger-modal-delete"><i class="icon-trash"></i>&nbsp; Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}